body {
    background-color: #e7ecee;
    color: #212529;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    color: #198754;
}

.navbar-brand:hover {
    color: #ebf314;
}

.nav-link {
    color: #0a531c;
    margin: 0 8px;
}

footer {
    margin-top: 80px;
}

/* Trip Page */

.trip-detail-image {
    min-height: 420px;
    object-fit: cover;
}

.memory-image {
    height: 220px;
    object: cover;
}

.progress {
    background-color: #e9ecef;
}